a.icon {
  display: inline-block;
  border-radius: 65px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  transition: all 0.2s ease-in-out;

}

a.icon:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 4px #888;
}
